<?xml version="1.0"?>
<config>
    <modules>
        <Ankur_Sachdeva>
            <version>0.1.0</version>
        </Ankur_Sachdeva>
    </modules>
    
    <global>
       
        <helpers>
            <sachdeva>
                <class>Ankur_Sachdeva_Helper</class>
            </sachdeva>
        </helpers>
    </global>
    
</config>