<?xml version="1.0"?>
<config>
    <modules>
        <Adodis_Latesttweets>
            <version>0.1.0</version>
        </Adodis_Latesttweets>
    </modules>
    <frontend>
        <routers>
            <latesttweets>
                <use>standard</use>
                <args>
                    <module>Adodis_Latesttweets</module>
                    <frontName>latesttweets</frontName>
                </args>
            </latesttweets>
        </routers>
        <layout>
            <updates>
                <latesttweets>
                    <file>latesttweets.xml</file>
                </latesttweets>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<latesttweets>
				<use>admin</use>
				<args>
					<module>Adodis_Latesttweets</module>
					<frontName>latesttweets</frontName>
				</args>
			</latesttweets>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<latesttweets>
				<title>Latest Tweets</title>
				<sort_order>71</sort_order>
				<children>
					<items module="latesttweets">
						<title>Settings</title>
						<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/adodis_latesttweets/</action>
					</items>
				</children>
			</latesttweets>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<adodis_latesttweets>
											<title>Latest Tweets</title>
										</adodis_latesttweets>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<latesttweets>
					<file>latesttweets.xml</file>
				</latesttweets>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <latesttweets>
                <class>Adodis_Latesttweets_Model</class>
            </latesttweets>
        </models>
        <blocks>
            <latesttweets>
                <class>Adodis_Latesttweets_Block</class>
            </latesttweets>
        </blocks>
        <helpers>
            <latesttweets>
                <class>Adodis_Latesttweets_Helper</class>
            </latesttweets>
        </helpers>
    </global>
    <default>
    	<adodis_latesttweets>
			<adodis_general>
				<adodis_latesttweets_enable>1</adodis_latesttweets_enable>
				<adodis_latest_tweets_display_number>10</adodis_latest_tweets_display_number>
				<adodis_latest_tweets_display_scroll>0</adodis_latest_tweets_display_scroll>
				<adodis_latest_tweets_scroll_height>250</adodis_latest_tweets_scroll_height>
			</adodis_general>	
    	</adodis_latesttweets>
    </default>
</config>